*{
  box-sizing: border-box;
}
  html,body{
   margin: 0;
   padding: 0;
   /* font-family: 'Open Sans', sans-serif; */
}

.testing{
    position: fixed;
    z-index: 30;
    bottom: 2vh;
    color: #eee;
    background: grey;
    padding: 5px;
}

.light{
  background: #eee;
}

body{
   background: #d2d2d2;
}

.full-width-col  {
   width: 100%;
   padding: 0;
}

.full-width{
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

/* the auth nav styles--------------- */

#home .auth{
    margin-top: 20px;
}

#home .navbar-toggle {
    padding-left: 20px;
}

#home .navbar .navbar-brand{
    padding-right: 20px;
}

#home #mainNav{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#home #mainNavContainer{
    display: flex;
    align-items: center;
    
}

#home #mainNavContainer div,
#home #mainNavContainer div button{
    flex-grow: 1;
    flex-shrink: 2;
}

#home #mainNavContainer .navbar-main{
    display: flex;
    justify-content: center;
    flex-grow: 5;
    flex-shrink: 1;
}

#home #mainNavContainer .navbar-main2{
    display: none;
}

#home #mainNavContainer a,
#home #mainNavContainer div button{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#home #mainNavContainer a:hover{
    color: black;
}

#mainNavContainerDropdown{
    display: flex;
}

#dropdownMenu1{
    background: inherit;
    text-transform: inherit;
    width: 100%;
    text-align: right;
}

#topNav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    background:#333;
    position: fixed;
    z-index: 1000;
    border-top: 2px solid #9c27b0;
    color: #fff;
}

#home #topNav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#home #topNav ul li a{
    color: #fff;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 900;
}

#home #topNav ul li a:hover{
    background: #fff;
    padding: 5px;
    color: black;
}

#navBrand {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Berkshire Swash', cursive;
}


/* reset some custom settings */
#home .navbar-nav{
    margin: 0;
}

hr{
    margin: 0 auto;
    width: 100%;
    border-top: solid #8080804a 1px;
}


/* ---------------------------------------------------sign up */
#sign_background{
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/bg0.jpg");
}
#home .padding25{
  padding: 25px;
}



.quoteIdText{
   font-style: italic;
   font-size: 12px;
   color: grey;
}

#home .registerNav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


/* --------------------------------------index page --------------------------------------*/
.card .card-content {
    padding: 15px 15px;
}

#home .card-title{
    font-size: 18px;
    line-height: 26px;
    color: #585858;
}

.item .card{
    margin-bottom: 0;
}

#home .genre {
   text-transform: capitalize;
   color: white;
   font-size: 12px;
}

.topMargin65{
  margin-top: 88px;
}

.topMargin80{
  margin-top: 80px;
}

.topMargin-25{
  margin-top: -25px;
}

.topMargin21{
  margin-top: 21px;
}

.bottomMargin15{
    margin-bottom: 15px;
}

.topPadding260{
  padding-top: 260px;
  color: white;
}

.genreSelection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.genreSelect{
  padding:5px 7px;
  text-transform: capitalize;
}

#home .subscribe-line .card {
    margin-top: 0;
}

/* sign up page-------------------------------------------------- */

#home #registerContainer{
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-image: url("../images/registerbg.jpg"); */
    background-size: contain;
    background-position: center;
    background-repeat: round;
}

#home .star{
  color: red;
  padding: 0px 7px;
  font-size: 10px;
}

#home .message{
  font-size: 9px;
  color: #f44336;
}

#signUpPage .signUp{
   background: white;
}

#home .pillButton{
   width: 40%;
   margin: 12px auto 0 auto;
}

#home .topMargin80{
   margin-top: 80px;
}

#home .topMargin50{
  margin-top: 50px;
}

#home .topMargin70{
  margin-top: 70px;
}


#home .topMargin160{
  margin-top: 160px;
}


#home .paddingTop30{
  padding-top: 30px;
}

#home .genderSelection{
   display: flex;
}

#home .purple{
  color: purple;
}

#home .textBold{
  color: #232323;
  padding: 0 5px;
}

.quote_footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#home .quote-footer p{
   cursor: pointer;
   margin: 0;
   font-size: 0.9em;
   color: #ae42c8;
}

#home .quote-footer p:hover{
   color: blue;
}

#card-content{
   padding: 15px 15px;
}

div .profile-photo-small{
   display: flex;
   align-items: center;
}

.errorMessage{
    display: block;
    color: #e91e63;
    font-size: 11px;
    background: #8080801a;
}

.grace{
   height: 41px;
   border-radius: 10px;
   padding-left: 10px;
   background: #9f59b1;
   color: white;
   font-size: 16px;
}


#home .tab-space{
   padding: 20px 0 2px 0;
}

#quote_moment{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ddd;
}

#home blockquote p{
    font-size: 13px;
    color: #fff;
    font-style: normal;
}

#quote_moment .author a{
    color: #aaaaaa;
}

.quote_moment_card{
    display: flex;
    justify-content: center;
    margin: 139px 0 30px 0;
}

.quote_moment_card .tim-typo{
    max-width: 70vw;
}

.quote_moment_footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: flex-end;
}

.underline{
    text-decoration: underline;
}

#home .displayNone{
  display: none;
}


/*the profile page*/
#profile_page_header{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*--------------author page-----------------*/
#home .wikiImg{
  width: 100px;
  height: 100px;
}

#authorDetails{
    display: none;
}

.author_title, 
.genre_title{
    text-transform: capitalize;
}

/*----------------authors----------------*/
#home .maxwidth20{
  max-width: 13%;
}

#home .navbar{
    margin-top: 30px;
}

#home .elipsis{
    font-size: 20px;
}


/* navigation */
.nav_search{
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 0 7px;
    border: 1px solid #d2d2d2cf;
    margin: 0 auto;
    margin-top: 6px;
    margin-right: 0;
}

#home  .container-fluid> .navbar-header{
    width: 50%;
}

#home .author_nav{
  position: fixed;
  top: 49px;
  width: 100%;
  background: #211f1f;
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #999999;
  z-index: 2;
}

#home .label{
  font-size: 1.2rem;
}

#tables{
  background: white;
}

/* authorspage */
#home .jumpList{
  position: fixed;
  max-width: 100px;
}

.masonry {
    column-count: 4;
    column-gap: 1em;
}

.numComments{
    padding: 0 3%;
    flex-grow: 1;
    font-weight: 400;
    font-size: 0.9em;
}

.noComment{
  border-bottom: solid red 2px;
  background: black;
}

.search:hover,
.search:active{
    border: 2px solid #808080bd;
}

#clear,
#nav_clear{
   font-size: 16px;
    cursor: pointer;
    color: #294d5d;
    font-weight: 900;
    padding: 0 0 0 10px;
}

/* the liking quote icon */
.fas{
    font-size: 16px;
}
.red{
    color: red;
}

.black{
    color: black;
}

.btn.btn-just-icon, .navbar .navbar-nav > li > a.btn.btn-just-icon {
    font-size: 19px;
    padding: 8px;
    /* line-height: 1em; */
}

.footnote .author{
    padding-bottom: 10px;
}

.footnote{
    display: flex;
    justify-content: space-between;
}

/* the jumbotron */
#jumbotron{
    height: 80vh;
    padding: 0;
    display: flex;
    align-items: center;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbotron h1{
    font-size: 6vw;
    color: white;
    font-weight: 500;
}

#jumbotron p{
    color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 3vw;
    padding: 16px 0;
}

.search{
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 0 20px;
    border: 1px solid #d2d2d2cf;
    height: 60px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* the search icon */
.search button{
    background: transparent;
    border: 0;
    font-size: 184%;
}

.index_search{
    width: 100%;
    border: 0;
    background: #fff;
}

#home .searchControl {
    background-image: linear-gradient(#ffffffeb, #ffffffeb);
    color: #9c27b0;
    font-size: 13px;
    font-family: monospace;
    margin: 0 0 0 10px;
}

/* search result container */
.searchResult,
.nav_searchResult {
    display: none;
    background: #ffffffde;
    padding: 5px;
    max-width: 800px;
    margin: 0 auto;
    z-index: 9999;
    max-height: 34vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: -32px;
}

.nav_searchResult {
    max-height: 70vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: absolute;
    top: 40px;
    width: 90vw;
}

#searchResult,
#nav_searchResult{
    margin-bottom: 0;
}

#nav_searchResult a:hover{
    color:#9c27b0;
}


#nav_searchResult a{
    color: #585858;
}

#nav_searchResult li:hover{
    background: #d0cccc;
}

/* left index container */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #aaaaaa;
    border-color: #aaaaaa;
    font-size: 13px
}

a:hover, a:focus {
    color: #337ab7;
    text-decoration: none;
}

.list-group-item:hover {
    background-color: #e5ecec21;
}

/* -------------------------quote single page------------------------- */ 
#singleCard .numComments{
    padding: 0;
    flex-grow: 0;
}

.single_card_icon{
    position: absolute;
    top: 5px;
    right: 9px;
}

.single_card_icon span{
    font-size: 15px;
}


.mailButton{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: -12px;
}

#singleCard .form-group{
    margin-top: 0;
}

#singleCard footer{
    padding-top: 0;
}

#singleCard{
    max-width: 500px;
}

#singleCard .card-title {
    padding-right: 24px;
}

#commentSection .commentarea{
    background: #eee;
}

.comment_section{
    max-width: 780px;
    margin: 0 auto;
}

#footer{
    max-width: 100vw;
}

#postComment{
    background: #eee;
    margin-bottom: 20px;
}

.singleCard{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.singleCardGenreList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* modal styles------------------------------- */
#home .modal-dialog {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 16%;
}

/* authors table and home=------------- */
.main-container .table-responsive{
    max-width: 500px;
    margin: 0 auto;
}

/* contribut page */
.options:hover{
    background: #337ab7;
}


#errorDiv,
#upload_error {
    display: none;
   padding: 15px 10px;
    position: fixed;
    top: 82px;
    max-width: 90vw;
    right: 0;
    z-index: 99999;
    background: #4caf50;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
#errorDiv:hover{
    border: 1px solid transparent;
}

#upload_error{
    display: flex;
}

.notifs_message{
    margin: 0;
    align-self: center;
    padding: 0 5px;
}

.button_container{
    align-self: center;
    padding: 0 10px 0 20px;
    font-size: 1.2em;
}

.blue{
    font-size: 13px;
    padding: 0 8px;
}
.trends{
    text-align: center;
    color: #aaaaaa;
    text-transform: capitalize;
}

/* for tracking display of error div */
.class_flex{
    min-height: 0;
}

#home blockquote{
    font-size: 13px;
    padding: 10px;
}


/* cookie styling *//*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
    cursor: pointer;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}

/*Cookie Consent End*/

/* contact us page */
#home .main-raised {
    margin: 0 auto;
    width: 100%;
}


.font30{
    font-size: 30px;
}

.width100{
    width: 100%;
}


/* about me page */
#about_me_bg{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
