*{
  box-sizing: border-box;
}
  html,body{
   margin: 0;
   padding: 0;
/* font-family: 'Cookie', cursive; */
   /* font-family: 'PT Mono', monospace; */
/* font-family: 'Inconsolata', monospace; */
}

.testing{
    position: fixed;
    z-index: 30;
    bottom: 2vh;
    color: #eee;
    background: grey;
    padding: 5px;
}

.light{
  background: #eee;
}

body{
   background: #d2d2d2
}

.full-width-col  {
   width: 100%;
   padding: 0;
}

/* the auth nav styles--------------- */

#home .auth{
    margin-top: 30px;
}

#home #mainNav{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#home #mainNavContainer{
    display: flex;
    align-items: center;
}

#home #mainNavContainer div,
#home #mainNavContainer div button{
    flex-grow: 1;
    flex-shrink: 2;
}

#home #mainNavContainer .navbar-main{
    display: flex;
    justify-content: center;
    flex-grow: 5;
    flex-shrink: 1;
}

#home #mainNavContainer .navbar-main2{
    display: none;
}

#home #mainNavContainer a,
#home #mainNavContainer div button{
    font-weight: 500;
    font-size: 0.9em;
}

#home #mainNavContainer a{
    font-size: 1.2em
}


#home #mainNavContainer a:hover{
    color: black;
}

#mainNavContainerDropdown{
    display: flex;
}

#dropdownMenu1{
    background: inherit;
    text-transform: inherit;
    width: 100%;
    text-align: right;
}

#topNav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    background:#eeeeeecf;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

#home #topNav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#home #topNav ul li a{
    color: #000000de;
    padding: 4px;
}



/* reset some custom settings */
#home .navbar-nav{
    margin: 0;
}

hr{
    margin: 0 auto;
    width: 100%;
    border-top: solid #8080804a 1px;
}


/* ---------------------------------------------------sign up */

#home .padding25{
  padding: 25px;
}



.quoteIdText{
   font-style: italic;
   font-size: 12px;
   color: grey;
}

#home .registerNav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


/* --------------------------------------index page --------------------------------------*/
.card .card-content {
    padding: 15px 15px;
}

.item .card{
    margin-bottom: 0;
}

#home .genre {
   text-transform: capitalize;
   color: white;
   font-size: 11px;
}

.topMargin65{
  margin-top: 65px;
}
.topMargin21{
  margin-top: 21px;
}

.topPadding260{
  padding-top: 260px;
  color: white;
}

.genreSelection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.genreSelect{
  padding:5px 7px;
  text-transform: capitalize;
}

#home .subscribe-line .card {
    margin-top: 0;
}

/* sign up page-------------------------------------------------- */

#home #registerContainer{
   background-image: url("../images/registerbg.jpg");
   background-size: contain;
   background-position: center;
   background-repeat: round;
}

/* #{
   background-image: url(../images/bg7.jpg);
   background-size: cover;
   background-position: top center;
   /* filter-color: purple; */
/* } */ */

#home .star{
  color: red;
  padding: 0px 7px;
  font-size: 10px;
}

#home .message{
  font-size: 9px;
  color: #f44336;
}

#signUpPage .signUp{
   background: white;
}

#home .pillButton{
   width: 40%;
   margin: 20px auto 0 auto;
}

#home .topMargin80{
   margin-top: 80px;
}

#home .topMargin50{
  margin-top: 50px;
}

#home .topMargin70{
  margin-top: 70px;
}


#home .topMargin160{
  margin-top: 160px;
}


#home .paddingTop30{
  padding-top: 30px;
}

#home .genderSelection{
   display: flex;
}

#home .purple{
  color: purple;
}

#home .textBold{
  color: #232323;
  padding: 0 5px;
}

#home .quote-footer{
    justify-content: flex-start;
    display: flex;
    flex-shrink: 1;
}

#home .quote-footer p{
   cursor: pointer;
   margin: 0;
   font-size: 0.9em;
}

#card-content{
   height: 230px;
   padding: 15px 15px;
}


div .profile-photo-small{
   display: flex;
   align-items: center;
}

.errorMessage{
    display: block;
    color: #e91e63;
    font-size: 11px;
    background: #8080801a;
}

.grace{
   width: 150px;
   height: 41px;
   border-radius: 10px;
   padding-left: 10px;
   background: #9f59b1;
   color: white;
   font-size: 16px;
}

#home .tab-space{
   padding: 20px 0 2px 0;
}


#card{
    background: rgba(255,255,255,.15);
    color: white;
    height: unset;
    margin-bottom: 0%;
}

#home .displayNone{
  display: none;
}

#home .close {
     right: 0; 
}

/*the profile page*/
#home .gif{
  width: 25%;
}

/*footer */
footer .container{
  width: 100%;
}


/*--------------author page-----------------*/
#home .wikiImg{
  width: 100px;
  height: 100px;
}

#authorDetails{
    display: none;
}

.author_title, 
.genre_title{
    text-transform: capitalize;
}


/*----------------authors----------------*/
#home .maxwidth20{
  max-width: 13%;
}

#home .author_nav{
  position: fixed;
  top: 49px;
  width: 100%;
  background: #211f1f;
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #999999;
  z-index: 2;
}

#home .label{
  font-size: 1.2rem;
}

#tables{
  background: white;
}


/* authorspage */
#home .jumpList{
  position: fixed;
  max-width: 100px;
}

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}


.numComments{
    padding: 0 3%;
    flex-grow: 1;
    font-weight: 400;
    font-size: 0.9em;
}

.noComment{
  border-bottom: solid red 2px;
  background: black;
}

#home blockquote{
   border-left: 9px solid #d2d2d2;
}

.search:hover,
.search:active{
    border: 2px solid #808080bd;
}

/* the liking quote icon */
.red{
    color: red;
}

.black{
    color: black;
}

.btn.btn-just-icon, .navbar .navbar-nav > li > a.btn.btn-just-icon {
    font-size: 17px;
    padding: 10px;
    line-height: 1em;
}

.footnote .author{
    padding-bottom: 10px;
}

.footnote{
    display: flex;
    justify-content: space-between;
}

/* new styles */

/* the jumbotron */
#jumbotron{
    height: 70vh;
    padding: 0;
    margin: 77px 0 0 0;
    display: flex;
    align-items: center;
    background: #99999933;
    background: url(../images/bg0.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

#jumbotron h1{
    font-size: 6vw;
    color: white;
    font-weight: 500;
}

#jumbotron p{
    color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 3vw;
    padding: 16px 0;
}

.jumbotron .container {
    position: relative;
}

.search{
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 0 20px;
    border: 1px solid #d2d2d2cf;
    height: 60px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* the search icon */
.search button{
    background: transparent;
    border: 0;
    font-size: 184%;
}

#home .searchControl {
    background-image: linear-gradient(#ffffffeb, #ffffffeb);
    color: #9c27b0;
    font-size: 13px;
    font-family: monospace;
    margin: 0 0 0 10px;
}


/* search result cpntainer */
.searchResult{
    display: none;
    background: #ffffffde;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}


/* left index container */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #aaaaaa;
    border-color: #aaaaaa;
    font-size: 13px
}

a:hover, a:focus {
    color: #337ab7;
    text-decoration: none;
}

.list-group-item:hover {
    background-color: #e5ecec21;
}


/* /* -------------------------quote single page------------------------- */ 
#singleCard .numComments{
    padding: 0;
    flex-grow: 0;
}

#singleCard .quote-footer{
    justify-content: space-between;
}

#singleCard{
    padding: 4px;
}

#singleCard .form-group{
    margin-top: 5px;
}

#singleCard{
    max-width: 600px;
}

#commentSection .commentarea{
    background: #eee;
}

/* 
#footer{
    width: 100vw;
} */

#postComment{
    background: #eee;
    margin-bottom: 20px;
}

.singleCard{
    display: flex;
    justify-content: center;
}

.singleCardGenreList{
    display: flex;
    justify-content: center;
}


/* modal styles------------------------------- */
#home .modal-dialog {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 16%;
}


/* authors table and home=------------- */
.main-container .table-responsive{
    max-width: 500px;
    margin: 0 auto;
}
