.fcontainer{
   max-width: 3000px;
   width: 100vw;
   padding: 0;
   margin: 0 auto;
}

.frow{
   width: 100%;
   padding: 20px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.main-container{
  max-width: 100%;
  flex-grow: 2;
}

#main-container{
   max-width: 100%;
   display: flex;
   justify-content: center;
   flex-grow: 1;
}

.genreList{
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    box-sizing: border-box;
}

/* for the quote page that has only one item */
.masour{
    column-gap: 1.5em;
    width: 70%;
    max-width: 500px;;
    column-count: 1;
    margin: 0 auto;
}

/* for the profile page */
.profilePagemasonry{
    column-gap: 1em;
    width: 100%;
    column-count: 2;
}

.masonry{
    column-gap: 20px;
    width: 100%;
}

.item{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

/* for xtra small devices */
@media screen and (min-width: 10px) {
    .left-container{
        display: none;
    }

    .masonry {
        column-count: 1;
    }

    .profilePagemasonry{
        column-count: 1;
    }

    /* genre and author title */
    .genre_title {
        font-size: 10vw;
    }
    .author_title {
        font-size: 6vw;
    }
}

/* for xtra small device landscape */
@media screen and (min-width: 500px) {
    .left-container{
        display: flex;
        width: 135px;
    }

    .masonry {
        column-count: 1;
    }

    .main-container{
      width: 60%;
   }

    /* genre and author title */
    .genre_title {
        font-size: 8vw;
    }

     .author_title {
        font-size: 4.5vw;
    }
}

/* for small devices */
@media screen and (min-width: 720px) {
   .masonry{
     column-count: 2;
   }

   .left-container{
        display: none;
    }

     /* genre and author title */
    .genre_title {
        font-size: 56px;
    }
}

@media screen and (min-width: 800px) {
   .left-container{
      display: flex;
   }

   .masonry{
     column-count: 2;
   }
}

@media screen and (min-width: 980px) {
    .left-container{
      display: none;
    }

    .masonry{
        column-count: 3;
    }
}  

@media screen and (min-width: 1170px) {
    .masonry{
        column-count: 3;
    }

     .left-container{
      display: flex;
   }
}

@media screen and (min-width: 1500px) {
    .masonry{
     column-count: 4;
   }
}

@media screen and (min-width: 1800px) {
    .masonry{
     column-count: 5;
   }
}

@media screen and (min-width: 2200px) {
    .masonry{
     column-count: 6;
   }
}

/*register page*/
@media screen and (min-width: 10px) {
    .registerContainer{
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .registerContainer{
        display: block;
    }
}

/* profile page -------------- */
@media screen and (min-width: 800px) {
    .profilePagemasonry{
    column-count: 2;
    }
}

/* media queries for the h1 and p on the jumbotron */
@media screen and (min-width: 10px){
    #jumbotron h1{
        font-size: 9vw
    }

    #jumbotron p{
        font-size: 3vw;
    }
}

@media screen and (min-width: 1000px){
    #jumbotron h1{
        font-size: 6em
    }

    #jumbotron p{
        font-size: 3vw;
    }
}

/* media quries for the navbar */
@media screen and (max-width: 770px){
    #home #mainNavContainer .navbar-main,
    #topNav{
        display: none;
    }
    #home #mainNavContainer .navbar-main2{
        display: flex;
    }

    #home .auth{
        margin-top: 0;
    }

    #jumbotron{
        margin-top: 45px;
    }

    #dropdownMenu1,
    #home #mainNavContainer div button{
        text-align: center;
    }

    .notifs {
    top: 60px;
    }
}

