.fcontainer{
   max-width: 1350px;
   padding: 0;
   margin: 0 auto;
}

.container-full{
   width: 100%;
   margin: 0 auto;
   padding: 0;
}

.frow{
   width: 100%;
   padding: 10px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

  .genreList{
      display: flex;
      flex-wrap: nowrap;
      padding: 0 0 10px 0;
      box-sizing: border-box;
      flex-shrink: 1;
   }

@media screen and (min-width: 10px) {
   .right-container,.left-container{
      display: none;
   }
 
   .masonry { /* Masonry container */
    column-count: 1;
    column-gap: 1em;
    width: 100%;
}

.item { /* Masonry bricks or child elements */
   display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

}

@media screen and (min-width: 600px) {
    .masonry{
      width: 75%;
   }
    .left-container{
      display: block;
      width: 25%;
      padding: 0 10px 0 0;
   }
  }

@media screen and (min-width: 800px) {
   .left-container{
      display: none;
   }
   .masonry{
      width: 100%;
      flex-grow: 1;
   }
     
   .masonry{
     column-count: 2;
   }


}

@media screen and (min-width: 1000px) {
   .left-container{
      display: block;
      width: 15%;
   }
   .masonry{
      width: 85%;
      flex-grow: 1;
   }

    .masonry{
     column-count: 2;
   }

}

@media screen and (min-width: 1200px) {
   .right-container {
      width: 10%;
      display: block;
      padding: 0 0 0 10px;
   }
   .left-container{
      width: 10%;
   }

   .masonry{
      width: 76%;
      flex-grow: 1;
   }
    .masonry{
     column-count: 3;
   }
}

/*register page*/
@media screen and (min-width: 10px) {
   .registerContainer{
      display: none;
   }
}
@media screen and (min-width: 992px) {
   .registerContainer{
      display: block;
   }
}
