.fcontainer{
   max-width: 3000px;
   padding: 0;
   margin: 0 auto;
}

.frow{
   width: 100%;
   padding: 20px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.main-container{
  max-width: 100%;
  flex-grow: 2;
}

.genreList{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    box-sizing: border-box;
}

/* for the quote page that has only one item */
.masour{
    column-gap: 1.5em;
    width: 70%;
    max-width: 500px;;
    column-count: 1;
    margin: 0 auto;
}



.masonry{
    column-gap: 20px;
    width: 100%;
}

.item{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

/* for profile page, different masory style */
@media screen and (min-width: 10px) {
    .profilePagemasonry{
        column-gap: 1em;
        width: 100%;
        column-count: 1;
    }
}

@media screen and (min-width: 760px) {
    .profilePagemasonry{
        column-count: 2;
    }
}
@media screen and (min-width: 1220px) {
    .profilePagemasonry{
        column-count: 3;
    }
}




/* for xtra small devices */
@media screen and (min-width: 10px) {
    .left-container{
        display: none;
    }

    .masonry {
        column-count: 1;
    }

    /* genre and author title */
    .genre_title {
        font-size: 10vw;
    }
    .author_title {
        font-size: 6vw;
    }

    .frow{
        padding: 10px;
    }

    #quote_moment_socials{
        display: none;
    }

  
}

/* for xtra small device landscape */
@media screen and (min-width: 500px) {
    .frow{
        padding: 20px;
    }

    .left-container{
        display: flex;
        width: 135px;
        margin-right: 17px;
        font-weight: 500;
    }

    .masonry {
        column-count: 1;
    }

    .main-container{
      width: 60%;
   }

    /* genre and author title */
    .genre_title {
        font-size: 8vw;
    }

     .author_title {
        font-size: 4.5vw;
    }

    #quote_moment_socials{
        display: block;
    }
}

/* for small devices */
@media screen and (min-width: 730px) {
   .masonry{
     column-count: 2;
   }

   .left-container{
        display: none;
    }

     /* genre and author title */
    .genre_title {
        font-size: 56px;
    }
}

@media screen and (min-width: 950px) {
   .left-container{
      display: flex;
   }

   .masonry{
     column-count: 2;
   }
}

@media screen and (min-width: 1200px) {
    .left-container{
      display: none;
    }

    .masonry{
        column-count: 3;
    }
}  

@media screen and (min-width: 1300px) {
    .masonry{
        column-count: 3;
    }

     .left-container{
      display: flex;
   }
}

@media screen and (min-width: 1650px) {
    .masonry{
     column-count: 4;
   }
}

@media screen and (min-width: 2000px) {
    .masonry{
     column-count: 5;
   }
}

@media screen and (min-width: 2400px) {
    .masonry{
     column-count: 6;
   }
}

/*register page*/
@media screen and (min-width: 10px) {
    .registerContainer{
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .registerContainer{
        display: block;
    }
}


/* media queries for the h1 and p on the jumbotron */
@media screen and (min-width: 10px){
    #jumbotron h1{
        font-size: 7vw
    }

    #jumbotron p{
        font-size: 2vw;
    }
}

@media screen and (min-width: 1000px){
    #jumbotron h1{
        font-size: 6em
    }

    #jumbotron p{
        font-size: 3vw;
    }
}

/* media quries for the navbar */
@media screen and (max-width: 768px){
    #home #mainNavContainer .navbar-main,
    #topNav{
        display: none;
    }

    #home .navbar {
        margin-top: 0;
    }

    #home .container-fluid> .navbar-header{
        width: 100%;
    }

    #home #mainNavContainer .navbar-main2{
        display: flex;
    }

    #home .auth{
        margin-top: 0;
    }

     #errorDiv{
        top: 50px;
    }

    .media .avatar {
        width: 25px;
        height: 25px;
    }

    .quote_moment_card {
        margin-top: 70px;
        font-size: 14px;
        max-width: 90vw;
    }

    #dropdownMenu1,
    #home #mainNavContainer div button{
        text-align: center;
    }

    .notifs {
    top: 60px;
    }
}

