.fcontainer{
   max-width: 1500px;
   width: 98vw;
   padding: 0;
   margin: 0 auto;
}

.container-full{
   width: 100%;
   margin: 0 auto;
   padding: 0;
}

.frow{
   width: 100%;
   padding: 10px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.main-container{
  max-width: 100%;
  display: flex;
  justify-content: center;
   flex-grow: 1;
}

  .genreList{
      display: flex;
      flex-wrap: nowrap;
      padding: 0;
      box-sizing: border-box;
      flex-shrink: 1;
   }

   /* for the quote page that has only one item */
   .masour{
      column-gap: 1em;
      width: 70%;
      max-width: 500px;;
      column-count: 1;
      margin: 0 auto;
   }

   /* for the profile page */
   .profilePagemasonry{
       column-gap: 1em;
      width: 100%;
      column-count: 2;
   }

   .masonry{
     column-gap: 1em;
    width: 100%;
   }


   .item{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
   }

   /* for xtra small devices */
@media screen and (min-width: 10px) {
   .right-container,.left-container{
      display: none;
   }

  .masonry {
      column-count: 1;
   }
   .profilePagemasonry{
      column-count: 1;
   }

   .main-container{
   width: 100%;
   }
}

/* for small devices */
@media screen and (min-width: 600px) {
    .main-container{
      width: 75%;
   }
    .left-container{
      display: block;
      width: 25%;
      padding: 0 10px 0 0;
   }
      }

@media screen and (min-width: 800px) {
   .left-container{
      display: none;
   }
   .main-container{
      width: 100%;
   }
     
   .masonry{
     column-count: 2;
   }
  
}

@media screen and (min-width: 1000px) {
   .left-container{
      display: block;
      width: 15%;
   }
   .main-container{
      width: 85%;
   }

    .masonry{
     column-count: 2;
   }
}

@media screen and (min-width: 1200px) {
   
   .left-container{
      width: 10%;
   }

   .main-container{
      width: 90%;
   }
   
    .masonry{
     column-count: 3;
   }
}

/*register page*/
@media screen and (min-width: 10px) {
   .registerContainer{
      display: none;
   }
}
@media screen and (min-width: 992px) {
   .registerContainer{
      display: block;
   }
}

/* profile page -------------- */
@media screen and (min-width: 800px) {
   .profilePagemasonry{
    column-count: 2;
   }
}


/* media queries for the h1 and p on the jumbotron */
@media screen and (min-width: 10px){
   #jumbotron h1{
      font-size: 9vw
   }

   #jumbotron p{
      font-size: 3vw;
   }
}


@media screen and (min-width: 1000px){
   #jumbotron h1{
      font-size: 6em
   }

   #jumbotron p{
      font-size: 3vw;
   }
}
